
<h1>Services</h1>

<table class="table table-hover">
<% @resources.each do |resource| %>
<tr>
  <td><%= link_to resource[:slabel].to_s, resource_path(resource[:s].to_s.split("#")[1]) %></td>
  <% end %>
</tr>
  
</table>

