<h1><%= @type.humanize.pluralize %></h1>

<table class="table table-hover">
<% @resources.each do |resource| %>
<tr>
  <td><%= link_to resource.label, resource_path(resource.id) %></td>
  <td> <%= resource.attributes.description.label %></td>
  <% end %>
</tr>
</table>

