<h1><%= @type.humanize.pluralize %></h1>

<table class="table table-hover">
<% @browser.solutions.each do |solution| %>
<tr>
  <% @browser.labels.each do |column| %>
    <% if @browser.label_has_id? column %>
      <td><%= link_to @browser.value(solution, column), resource_path(@browser.relation_value_for_label(solution, column)) %> </td>
    <% else %>
      <td><%= @browser.value(solution, column) %> </td>
    <% end %>
  <% end %>
</tr>
<% end %>
</table>

