<div class="row">
  <div class="col-lg-8">
    <h1> Areas </h1>
  </div>
</div>

<%= render :partial => "faceted_in_panels" %>

<% content_for :sidebar do %>

  <div id="facets_sidebar">
    <div class="row">
      <p> Area list </p>

      <div class="list-group">
        <% @browser.facets.each do |key, facet| %>
          <%= link_to(truncate(labelize(facet[:label] ), length: 90), "##{facet[:id]}", :class => "list-group-item") %>
      <% end %>
      </div>
    </div>
  </div>

<% end %>

<% content_for :header do %>
    <h1><%= @type_name.humanize.pluralize %></h1>
    <p> <%= @type_description %></p>
<% end %>


<% content_for :title do %>
  Areas
<% end %>
