<table class="table table-hover table-condensed table-bordered">
  <thead>
  <tr>
    <th> <%= title %> </th>
  </tr>
  </thead>
  <tbody>
  <% resources.solutions.each do |solution| %>
  <tr>
    <% resources.labels.each do |column| %>
      <% if resources.label_has_id? column %>
        <td><%= link_to labelize(resources.value(solution, column)), resource_path(resources.relation_value_for_label(solution, column)) %> </td>
      <% else %>
        <td><%= resources.value(solution, column) %> </td>
      <% end %>
    <% end %>
  </tr>
  <% end %>
  </tbody>
</table>
