<tr>
  <% value = @resource.attributes.send(:"#{att}") %>

  <td><strong><%= labelize([value].flatten.first.type) %> <%= link_to "?", "#", :title => Resource::Base.description_of(att) %></strong></td>
  <td>
    <%  if value.kind_of?(Array) %>
      <ul>
        <% value.each do |v| %>
          <li><%= resource_value(v) %></li>
        <% end %>
      </ul>
    <% else %>
      <%= auto_link resource_value(value) %>
    <% end %>
  </td>
</tr>
  

