<tr>
  <% value = @resource.attributes.send(:"#{att}") %>
  <% description = Resource::Base.description_of(att)%>

  <td class="oneliner"><strong><%= labelize([value].flatten.first.type) %> <%= link_to("<i class='icon-question-sign'></i>".html_safe, resource_path(att), :title => description, :"data-toggle" => "tooltip", :rel => "tooltip") if description %> 
    <%#"</br>-----------</br>".html_safe %>
    <%#value.inspect.gsub(', @', ',</br>@').html_safe %>
  </strong></td>
  <td>
    <%  if value.kind_of?(Array) %>
      <ul>
        <% value.each do |v| %>
          <li><%= link_or_value v.label, v.id %></li>
        <% end %>
      </ul>
    <% else %>
      <%= link_or_value value.label, value.id %>
    <% end %>
  </td>
</tr>

