<tr>
  <% value = @resource.attributes.send(:"#{att}") %>
  <% description = Resource::Base.description_of(att)%>

  <td><strong><%= labelize([value].flatten.first.type) %> <%= link_to("<i class='icon-question-sign'></i>".html_safe, resource_path(att), :title => description) if description %></strong></td>
  <td>
    <%  if value.kind_of?(Array) %>
      <ul>
        <% value.each do |v| %>
          <li><%= resource_value(v) %></li>
        <% end %>
      </ul>
    <% else %>
      <%= auto_link resource_value(value) %>
    <% end %>
  </td>
</tr>
  

